<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Criar Note
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Criar Note</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/mynotes/criar" method="post">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label text-light">Título:</label>
              <input type="text" class="form-control text-dark" name="titulo" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label text-light">Escreva o que pensa:</label>
              <textarea class="form-control text-dark" name="conteudo" id="message-text"></textarea>
            </div><hr>
            <button type="submit" class="btn btn-warning me-3">Criar Note</button>
            <button type="reset" class="btn btn-danger">Apagar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>